body {padding: 0; margin: 0;} 

.section {
    background: black;
    margin: 0;
    padding: 50px;
    color: white;
    font-size: 28px;
    line-height: 1.2;
    font-family: 'Source Code Pro', monospace;
}

#footer {
    background: black;
    margin: 0;
    padding: 50px;
    display: flex;
    justify-content:space-evenly ;
}

.center-align {
    text-align: center;
}

.images {
    height: 90px;
    width: auto;
}


.loadingclass {
    font-family: 'Source Code Pro', monospace;
    font-size: 50px;
    background: black;
    margin: 0;
    padding: 250px;
    color: white;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 600px) {
    .images {
        height: 60px;
        width: auto;
    }

    .section {
        font-size: 20px;
    }

    h1 {
        font-size: 1.5em;
    }

    .loadingclass {
        padding: 50px;
    }
    
}

#navbar ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
    background-color: #000; 
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
	} 

#navbar ul li {  
	display: inline; 
	} 

#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #000; 
	} 

#navbar ul li a:hover { 
	color: #000; 
	background-color: #fff; 
    } 
    