body {padding: 0; margin: 0;} 

#description {
    background: black;
    margin: 0;
    padding: 50px;
    color: white;
    font-size: 28px;
    line-height: 1.2;
    font-family: 'Source Code Pro', monospace;
}

#footer {
    background: black;
    margin: 0;
    padding: 50px;
    display: flex;
    justify-content:space-evenly ;
}

.center-align {
    text-align: center;
}

.images {
    height: 120px;
    width: auto;
}
